body {
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  background-image: linear-gradient(120deg, #8293eb 0%,#deb3ff 50%, #ffb3f7 100%);
}
.birthdayCard {
  position: relative;
  width: 250px;
  height:350px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  transition: 1s;
}
.birthdayCard:hover {
  transform: perspective(2500px) rotate(5deg);
  box-shadow: inset 100px 20px 100px rgba(0,0,0,.2), 0 10px 100px rgba(0,0,0,0.5);
}
.birthdayCard:hover .cardFront {
  transform: rotateY(-160deg); 
}
.birthdayCard:hover .happy {
  visibility:hidden; 
}
.cardFront {
  position: relative;
  background-color: #ffb3f7;
  width: 250px;
  height:350px;
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0,0,0,.2), 30px 0 50px rgba(0,0,0,0.4);
  transition: .6s;
}
.happy {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin:30px; 
  transition: .1s;
}
.balloons {
  position: absolute;
}
.balloonOne, .balloonTwo, .balloonThree, .balloonFour {
  position: absolute;
  width: 85px;
  height:95px;
  border-radius:50%;
}
.balloonOne {
  background-color: #6e68bd;
  left:-10px;
  top:50px;
}
.balloonTwo {
  background-color: deeppink;
  left:50px;
  top:20px;
}
.balloonThree {
  background-color: hotpink;
  left:110px;
  top:50px;
}
.balloonFour {
  background-color: mediumpurple;
  left:170px;
  top:20px;
}
.balloonOne:before, .balloonTwo:before, .balloonThree:before, .balloonFour:before {
  content:"";
  position: absolute;
  width:1px;
  height: 155px;
  background-color: yellow;
  top:95px;
  left:43px;
}
.balloonOne:after, .balloonTwo:after, .balloonThree:after, .balloonFour:after {
  content:"";
  position: absolute;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  top:94px;
  left:37px;
}
.balloonOne:after {
  border-bottom: 10px solid #6e68bd;
}
.balloonTwo:after {
  border-bottom: 10px solid deeppink;
}
.balloonThree:after {
  border-bottom: 10px solid hotpink;
}
.balloonFour:after {
  border-bottom: 10px solid mediumpurple;
}
.cardInside {
  position: absolute;
  background-color: #deb3ff;
  width: 250px;
  height:350px;
  z-index:-1;
  left:0;
  top:0;
  box-shadow: inset 100px 20px 100px rgba(0,0,0,0.2);
}
p {
  font-family: 'Brush Script MT', cursive;
  margin: 30px;
  color: #333;
}
.name {
  position: absolute;
  left:150px;
  top:250px;
  color: #333;
}
.back {
  font-family: 'Times New Roman', Times, serif;
  color: #333;
  text-align: center;
  margin:30px; 
}